<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- css, js -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/detailStyle.css' %}">
    <script src="https://kit.fontawesome.com/411ab0eefd.js" crossorigin="anonymous"></script>
    <script src="{% static "header.js" %}" defer></script>
</head>
<body>
    <!-- header -->
    <section class="header">
        <div class="logoAndTitle">
            <a href="/mysite/"><img src="{% static 'image/logo.png' %}" alt="#"></a>
            <span class="title">Gosumdochi Company</span>
            <button class="bar"><i class="fas fa-bars"></i></button>
        </div>
        <ul class="menu">
            <li>회사소개</li>
            <li>채용안내</li>
            <li>직원전용</li>
            <li>공지사항</li>
            <li>고객센터</li>
        </ul>
    </section>

    <!-- info -->
    <section class="info">
        <table align="center">
            <a href="/mysite/readNotice/"><h1>공지사항</h1></a> 
            <tr>
                <th class="subject" colspan="2">{{ notice.subject }}</th>
            </tr>
            <tr>
                <td class="writer">{{notice.writer}}</td>
                <td class="create_date">{{notice.create_date}}</td>
            </tr>
            <tr>
                <td class="content" colspan="2">{{notice.content}}</td>
            </tr>
        </table>
    </section>

    <!-- deleteAndUpdate -->
    <section class="deleteAndUpdate">
        <p>삭제나 수정을 원하면 비밀번호를 입력하세요</p>
        <form action="update/" method="post">
            {% csrf_token %}
            <p><input type="text" placeholder="password" name = "password"></p>
            <p><input type="submit" name="delete"></p>
        </form>
    </section>

</body>
</html>