<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/makeStyle.css' %}">
    <script src="https://kit.fontawesome.com/411ab0eefd.js" crossorigin="anonymous"></script>
    <script src="{% static "header.js" %}" defer></script>
</head>
<body>

    <!-- header -->
    <section class="header">
        <div class="logoAndTitle">
            <a href="/mysite/"><img src="{% static 'image/logo.png' %}" alt="#"></a>
            <span class="title">Gosumdochi Company</span>
            <button class="bar"><i class="fas fa-bars"></i></button>
        </div>
        <ul class="menu">
            <li>회사소개</li>
            <li>채용안내</li>
            <li>직원전용</li>
            <li>공지사항</li>
            <li>고객센터</li>
        </ul>
    </section>
    <!-- create_notice -->
    <section class="create_notice">
        <p class="title">공지 등록</p>
        <form action="/mysite/createNotice/" method="post">
            {% csrf_token %}
            <p><input type="text" placeholder="제목" name = "subject"></p>
            <p><textarea name="content" placeholder="내용"></textarea></p>
            <p><input type="text" placeholder="작성자" name = "writer"></p>
            <p><input type="text" placeholder="비밀번호" name = "password"></p>
            <p><input type="submit" name="submit"></p>
        </form>
    </section>
</body>
</html>